body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Percentage-custom {
    width: 50px;
}

/* React Modal plugin */
.ReactModal__Content__base { /* We need to explicitly define this here since passing in a */
  position: absolute;        /* className will prevent these from being applied by the plugin. */
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  WebkitOverflowScrolling: touch;
  borderRadius: 4px;
  outline: none;
  padding: 20px
}

.ReactModal__Content {
    opacity: 0;
}

.ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 150ms;
}

.ReactModal__Content--before-close {
    opacity: 0;
}

/**************************************************************/
/*************************** Modals ***************************/
/* Budget & Forecast modal on Forecast page */
.infoModal {
    height: 500px;
    width: 600px;
}
#infoForm {
    margin: 40px;
    padding: 10px;
}
#infoForm label {
    background-color: antiquewhite;
    font-weight: bold;
    margin-right: 2em;
    padding: .2em 1em;
    width: 200px;
}

/* Actions modal on Forecast page */
.actionsModal {
    height: 800px;
    width: 500px;
}
#actions {
    margin-top: 40px;
}
#actions > div {
    background-color: antiquewhite;
    border: 1px solid #000;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
#actions label {
    width: 200px;
}

/* Universal spinner modal */
.spinnerModal {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.spinnerModal div {
    background-color: rgba(255,255,255,1.0);
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    max-height: 80%;
    max-width: 95%;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
}
.spinnerModal div p {
    font-weight: bold;
}
/* TODO: The following rule is temporary! */
.spinnerModal div img {
    margin-left: 130px;
}
/*
#modal-content #delete button + button {
    margin-left: 10px;
}
#modal-content #spinner {
    background: url(images/spinner.gif) no-repeat;
    height: 50px;
    width: 50px;
}
*/
/**************************************************************/

.actionButton {
    background-color: maroon;
    border: 0;
    border-radius: 5em;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 40%;
    padding: 1.2em;
    width: 150px;
}

.actionButton:hover {
    color: #ccc;
    cursor: pointer;
}

/* The content below may appear empty, but it's not! They are the toggle icons. */
.expanded::after {
    content: "▼ ";
}

.collapsed::after {
    content: " ▲";
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

