body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Percentage-custom {
    width: 50px;
}

/* React Modal plugin */
.ReactModal__Content__base { /* We need to explicitly define this here since passing in a */
  position: absolute;        /* className will prevent these from being applied by the plugin. */
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  WebkitOverflowScrolling: touch;
  borderRadius: 4px;
  outline: none;
  padding: 20px
}

.ReactModal__Content {
    opacity: 0;
}

.ReactModal__Content--after-open {
    opacity: 1;
    transition: opacity 150ms;
}

.ReactModal__Content--before-close {
    opacity: 0;
}

/****************************************/
/*                                      */
/*              Modals                  */
/*                                      */
/****************************************/
.base {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.base section {
    background-color: rgba(255,255,255,1.0);
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    max-height: 80%;
    max-width: 95%;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
}
.spinner div p {
    font-weight: bold;
}
/* TODO: The following rule is temporary! */
.spinner section img {
    margin-left: 130px;
}
/*
#modal-content #delete button + button {
    margin-left: 10px;
}
#modal-content #spinner {
    background: url(images/spinner.gif) no-repeat;
    height: 50px;
    width: 50px;
}
*/

/* The content below may appear empty, but it's not! They are the toggle icons. */
.expanded::after {
    content: "▼ ";
}

.collapsed::after {
    content: " ▲";
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/****************************************/
/*                                      */
/*              Sections                */
/*                                      */
/****************************************/
section#banner {
    background-color: #383636;
    color: white;
    font-size: 40px;
    height: 120px;
}
section#banner h1 {
    margin: 0 0 0 100px;
    padding: 20px;
}
section#groups {
    padding-right: 15px;
    padding-left: 15px;
    margin: 100px auto 0 270px;
}
section#groups h1 {
    margin: 40px 0;
}
section#groups div.row {
    display: flex;
    flex-wrap: wrap;
    /*
    margin-right: -15px;
    margin-left: -15px;
    */
}
section#groups div.row > div {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
section#forecastOptions {
    padding: 10px 10px 10px 40px;
    width: 450px;
}
section#forecastOptions button {
    background-color: white;
    border-width: 0;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
}
section#forecastOptions p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
section#forecastOptions p span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0;
}
section#forecastOptions form label {
    display: inline-block;
    font-size: 15px;
    margin: 5px 0 0 10px;
}
section#forecastOptions form input[type=submit] {
    background: green;
    border-radius: 20px;
    border-width: 0;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 30px auto;
    padding: 4px 0;
    width: 80px;
}

/****************************************/
/*                                      */
/*                  Nav                 */
/*                                      */
/****************************************/
nav {
    position: fixed;
    top: 100px;
    left: 0;
    margin: 10px 10px 10px 20px;
    width: 240px;
}
nav h2 {
    margin: 20px 0 0;
}
nav form label {
    font-weight: bold;
    display: block;
}
nav form input,
nav form select,
nav form textarea {
    background: #eee;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 4px;
    min-width: 200px;
}
nav form select {
    width: 212px;
}
nav form textarea {
    height: 20px;
}
nav form input[type=submit] {
    background: green;
    border-radius: 20px;
    border-width: 0;
    color: white;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 5px;
    padding: 6px;
}

